*{
    margin: 0;
    padding: 0;
}
.fonas{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://i.pinimg.com/originals/a5/33/cf/a533cf5de8aa84758c89fea507c5d7da.jpg);
    background-size: cover;
    background-position: center;
<<<<<<< HEAD
    background-repeat: no-repeat;
=======
>>>>>>> 93e343da5457e8846c3f73df3a2c5312a40a8833
    overflow: hidden;
}
.ocean{
    height: 220px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.water{
<<<<<<< HEAD
    height: 100%;
    width: 200%;
    position: absolute;
    left: 0;
=======
    height: 100%; 
    width: 100%;
    position: absolute;
    right: 0;
>>>>>>> 93e343da5457e8846c3f73df3a2c5312a40a8833
    animation: water 10s linear infinite;
}
@keyframes water{
    0%{
        transform: translateX(0);
    }
    100%{
<<<<<<< HEAD
        transform: translateX(-50%);
=======
        transform: translateX(1000px);
>>>>>>> 93e343da5457e8846c3f73df3a2c5312a40a8833
    }
}


.boat{
    width: 350px;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%); /* horizontal center */
}
.boat img{
    width: 100%;
}
